h1
{
    
    color: #fff;
    background-color: #9f1818;
    border: 2px solid #0c0303;
    width: 200px;
    height: 50px;
    padding: 20px;
    margin: 20px;
}

p{
    color: #333;
    background-color: #9f1818;
}